---
permalink: /update.xml
---
<?xml version="1.0" encoding="utf-8"?>
<updates>
  <update>
    <name>Restricted File System</name>
    <version>{{metaInfo.version}}</version>
    <infourl title="Restricted File System">{{metaInfo.url}}></infourl>
    <downloads>
      <downloadurl type="full" format="zip">{{metaInfo.url}}/dist/plg_system_restrictedfs_{{metaInfo.version}}.zip></downloadurl>
    </downloads>
    <targetplatform name="joomla" version="4"/>
    <element>restrictedfs</element>
    <type>package</type>
    {% if metaInfo.sha256 %}<sha256>{{metaInfo.sha256}}</sha256>{% endif %}
		{% if metaInfo.sha384 %}<sha384>{{metaInfo.sha384}}</sha384>{% endif %}
		{% if metaInfo.sha512 %}<sha512>{{metaInfo.sha512}}</sha512>{% endif %}
  </update>
</updates>
